.header {
  flex-shrink: 0;
  background-color: #fff;

  // &--fixed {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   z-index: 10;
  // }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: 60px;

    @media (max-width: $mobileMedium) {
      grid-template-columns: auto auto;
      justify-content: space-between;
      min-height: 52px;
    }

    & .logo {
      position: relative;
      z-index: 11;
    }
  }

  &__burger {
    display: none;

    @media (max-width: $mobileMedium) {
      display: block;
      position: relative;
      width: 28px;
      height: 19px;
      background-color: transparent;
      cursor: pointer;
      z-index: 11;

      &::before,
      &::after {
        content: '';
      }

      span,
      &::before,
      &::after {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: var(--color-dark-purple);
        border-radius: 2px;
        transition-timing-function: $transitionBase;
      }

      span {
        transition-delay: 150ms;
        top: calc(50% - 1px);
      }

      &::before {
        top: 0;
        transition: top 150ms 150ms, transform 150ms;
      }

      &::after {
        bottom: 0;
        transition: bottom 150ms 150ms, transform 150ms;
      }

      &--active {
        span {
          opacity: 0;
        }

        &::before {
          top: calc(50% - 1px);
          transform: rotate(-45deg);
          transition: top 150ms, transform 150ms 150ms;
        }

        &::after {
          bottom: calc(50% - 2px);
          transform: rotate(45deg);
          transition: bottom 150ms, transform 150ms 150ms;
        }
      }
    }
  }

  &__button {
    width: 193px;
    min-height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    background-color: var(--color-accent);
    border-radius: 4px;
    transition: opacity 250ms $transitionBase;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: $mobileMedium) {
      margin-left: auto;
    }
  }
}

// navigation
.menu {
  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 27px;

    @media (max-width: $mobileMedium) {
      position: fixed;
      top: 0;
      left: 100%;
      align-items: end;
      row-gap: 50px;
      flex-direction: column;
      padding: 110px 15px 50px 15px;
      width: 100%;
      height: 100%;
      background-color: var(--color-off-white);
      transition: left 300ms $transitionBase;
      overflow: auto;
      z-index: 10;

      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 52px;
        background-color: #fff;
      }

      &--active {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    gap: 30px;

    @media (max-width: $mobileMedium) {
      gap: 20px;
      flex-direction: column;
      align-items: flex-end;
      font-size: 30px;
      font-weight: 500;
    }
  }

  &__link {
    display: flex;
    letter-spacing: -0.02em;
    transition: color 300ms $transitionBase;

    &:hover {
      color: var(--color-accent);
    }
  }
}
