.services-faq {
  &__container {
    padding-top: 96px;
    padding-bottom: 132px;
  }

  &__text-wrapper {
    margin-bottom: 64px;
    text-align: center;

    & .h2 {
      margin-bottom: 20px;
    }
  }
}

// accordion list
.accordion {
  margin-inline: auto;
  margin-bottom: 64px;
  max-width: 768px;

  &__item {
    padding-top: 25px;
    padding-bottom: 32px;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #e4e7ec;
    }

    // accordion item active
    &.accordion__item--active {
      .accordion-trigger-icon__line--first {
        transform: rotate(-180deg);
      }

      .accordion-trigger-icon__line--second {
        transform: rotate(0) !important;
      }

      .accordion-content {
        grid-template-rows: 1fr;
        padding-top: 8px;
        opacity: 1;
      }
    }
  }
}

// accordion trigger
.accordion-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__text {
    margin-right: 20px;
    color: #101828;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.55;
  }
}

// accordion icon
.accordion-trigger-icon {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border: 2px solid var(--color-accent);
  border-radius: 50%;

  &__line {
    display: block;
    width: 12px;
    height: 2px;
    background-color: var(--color-accent);
    border-radius: 25px;
    transition: transform 400ms $transitionBase;

    &--second {
      margin-top: -2px;
      transform: rotate(90deg);
    }
  }
}

// accordion content
.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  margin-right: 48px;
  opacity: 0;
  transition: 400ms $transitionBase;
  transition-property: grid-template-rows, opacity, padding;

  @media (max-width: $mobileSmall) {
    margin-right: 25px;
  }

  &__text {
    overflow: hidden;
  }
}

// callout
.services-faq-callout {
  padding: 32px;
  text-align: center;
  background-color: var(--color-off-white);
  border-radius: 16px;

  & h6 {
    margin-bottom: 8px;
    color: var(--color-dark-purple);
    @include adaptiveValue('font-size', 20, 18);
    font-weight: 800;
  }

  & p {
    margin-bottom: 32px;
    @include adaptiveValue('font-size', 18, 16);
    line-height: 1.55;
  }

  & a {
    @extend .button;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
  }
}
