<section class="free-guide-hero">
  <div class="free-guide-hero__container">
    <div>
      <div class="free-guide-hero__text-wrapper">
        <h1 class="h1">Results that speak for themselves</h1>
        <img
          src="./images/Home/guide-sm.jpg"
          alt="a girl in glasses with a book."
        />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua minim
          veniam.
        </p>
      </div>

      <form class="guide-form">
        <div>
          <input type="text" placeholder="Name" />
        </div>
        <div>
          <input type="email" placeholder="Enter your email" required />
        </div>

        <div>We care about your data in our <a href="#">privacy policy</a></div>

        <button type="submit">Get free guide</button>
      </form>
    </div>

    <img
      src="./images/Home/guide-lg.png"
      alt="a girl in glasses with a book."
    />
    <img
      src="./images/FreeGuide/hero.jpg"
      alt="a girl in glasses with a book."
    />
  </div>
</section>
