<section class="free-guide-download">
  <div class="free-guide-download__container">
    <div class="free-guide-download__text-wrapper">
      <h2 class="h2">
        Don’t miss out on my <span>‘Live life at the full potential’</span> free
        guide
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua minim veniam. Sed ut
        perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium.
      </p>
    </div>

    <a
      class="free-guide-download__link"
      href="./images/FreeGuide/free-guide.gif"
      download
    >
      Download my free guide
    </a>

    <div class="free-guide-download__rating">
      <p class="pretitle">More than 100+ 5 star reviews</p>
      <svg width="84" height="18">
        <use href="./images/icons.svg#icon-stars"></use>
      </svg>
    </div>
  </div>
</section>
