<section class="guarantee">
  <div class="guarantee__container">
    <svg width="312" height="266">
      <use href="./images/icons.svg#icon-wreath"></use>
    </svg>
    <h3 class="guarantee__title">Guarantee</h3>
    <p class="guarantee__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua minim veniam.
    </p>
  </div>
</section>
