<section class="guide">
  <div class="guide__container">
    <div class="guide__content">
      <h2 class="h2">
        Don’t miss out on my ‘Live life at the full potential’ free guide!
      </h2>

      <img
        src="./images/Home/guide-sm.jpg"
        alt="a girl in glasses with a book."
      />

      <div class="guide__text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua minim
          veniam.
        </p>
        <br />
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </div>

      {% include './../components/button.twig' with {'text': 'Get your free
      guide now', 'link': './free-guide.html'} %}
    </div>

    <img
      src="./images/Home/guide-lg.png"
      alt="a girl in glasses with a book."
    />
  </div>
</section>
