<header class="header">
  <div class="header__container">
    {% include './../components/logo.twig' %}

    <div class="menu__wrapper">
      <nav class="menu">
        <ul class="menu__list">
          <li>
            <a href="./index.html" class="menu__link menu__link--current"
              >Home</a
            >
          </li>
          <li>
            <a href="./services.html" class="menu__link">Services</a>
          </li>
          <li>
            <a href="./about.html" class="menu__link">About us</a>
          </li>
          <li>
            <a href="./sales.html" class="menu__link">Extra sales</a>
          </li>
        </ul>
      </nav>

      <button class="header__button" type="button">
        Get your free guide now
      </button>
    </div>

    <button class="header__burger">
      <span></span>
    </button>
  </div>
</header>
