<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <p class="pretitle">Proven strategies backed by science for success.</p>
      <h1 class="h1">Live life at the full potential</h1>
      <p class="hero__text">
        I help people to discover their true potential and live a fulfilling
        life. Discover the simple 3 steps that I discovered to hack
        productivity. It just works and it is begin using backed by science. Do
        you want to transform your life?
      </p>

      {% include './../components/button.twig' with {'text': 'Get your free
      guide now', 'link': './free-guide.html'} %}
    </div>

    <div class="hero-img__wrapper" data-da=".hero__content, 479.98, 2">
      <div class="hero-img__before">
        <div class="hero-img__icon">
          <svg width="56" height="56">
            <use href="./images/icons.svg#icon-sight"></use>
          </svg>
        </div>

        <div>
          <h5 class="h5" data-da=".hero-img__icon, 767.98">100%</h5>
          <p>Success rate this year</p>
        </div>
      </div>

      <img class="hero-img" src="./images/Home/hero.jpg" alt="girl" />
    </div>
  </div>
</section>
