<section class="intro">
  <div class="intro__container">
    <div class="intro-text">
      <h2 class="h2">I can help you in these particular areas.</h2>
      <div class="intro-text__paragraphs">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua minim
          veniam.
        </p>
        <br />
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </div>
    </div>

    <ul class="intro-list">
      {% for service in services if service.title != 'Online course' %}
      <li class="intro-list__item">
        <div class="intro-list__item-head">
          <svg class="intro-list__icon">
            <use href="{{ service.icon }}"></use>
          </svg>
          <h5 class="h5">{{ service.title }}</h5>
        </div>
        <p>{{ service.text }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
