<section class="hero sales-hero">
  <div class="hero__container">
    <div class="sales-hero__content">
      <p class="pretitle">Proven strategies backed by science for success.</p>
      <h1 class="h1">Self Esteem Therapy</h1>
      <p class="hero__text">
        I help people to discover their true potential and live a fulfilling
        life. Discover the simple 3 steps that I discovered to hack
        productivity. It just works and it is begin using backed by science. Do
        you want to transform your life?
      </p>

      {% include './../components/button.twig' with {'text': 'Claim your spot'}
      %}
    </div>

    <div class="hero-img__wrapper" data-da=".sales-hero__content, 479.98, 2">
      <img class="hero-img" src="./images/Sales/hero.jpg" alt="girl" />
    </div>
  </div>
</section>
