<section class="services-hero">
  <div class="services-hero__container">
    <div>
      <p class="pretitle">I can help you in these patricular areas.</p>
      <h1 class="h1">I help people to discover their true potential</h1>
      <p class="hero__text">
        I help people to discover their true potential and live a fulfilling
        life. Discover the simple 3 steps that I discovered to hack
        productivity. It just works and it is begin using backed by science. Do
        you want to transform your life?
      </p>
    </div>

    <img src="./images/Services/hero.jpg" alt="girl" />
  </div>
</section>
