<section class="services-features">
  <div class="services-features__container">
    <div class="services-features__text-wrapper">
      <p class="pretitle">How does it work?</p>
      <h2 class="h2">Are you ready to transform your life?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua minim veniam.
      </p>
    </div>

    <div class="services-features__content">
      <ul class="features-list">
        {% for feature in features %}
        <li class="features-list__item">
          <div class="features-list__icon-wrapper">
            <svg>
              <use href="{{ feature.icon }}"></use>
            </svg>
          </div>

          <div>
            <h6 class="h6">{{ feature.title }}</h6>
            <p>{{ feature.text }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>

      <img src="./images/Services/features.jpg" alt="girl" />
    </div>
  </div>
</section>
